     body {
               background-color:black;
           }
           p {
               color:rgb(173, 167, 57);
           }
           h1 {
                color:rgb(236, 252, 0);
           }
           a {
               color:rgb(72, 252, 0);
           }
           ol {
                color:white;
           }
           h2 {
                color:rgb(236, 252, 0);
           }
          ul {
             color:white;
          }
           